/animated_vector_drawable_25_1_0.xml
/appcompat_v7_25_1_0.xml
/cardview_v7_25_1_0.xml
/design_25_1_0.xml
/recyclerview_v7_25_1_0.xml
/support_annotations_25_1_0.xml
/support_compat_25_1_0.xml
/support_core_ui_25_1_0.xml
/support_core_utils_25_1_0.xml
/support_fragment_25_1_0.xml
/support_media_compat_25_1_0.xml
/support_v4_25_1_0.xml
/support_vector_drawable_25_1_0.xml
/transition_25_1_0.xml
