<manifest package="com.piticlistudio.playednext"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".EmptyActivity">

        </activity>

        <service android:name=".gamerelation.service.GameRelationSyncService"/>

        <activity android:name=".gamerelation.ui.list.view.GameRelationListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".gamerelation.ui.detail.view.GameRelationDetailActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/GameDetailTheme">
        </activity>

        <activity
            android:name=".image.ui.viewer.ImageViewerActivity"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c572942635c30d0387125c82986946e74af4d8e6" />
    </application>

</manifest>
