<manifest package="com.piticlistudio.playednext"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".EmptyActivity">


        </activity>

        <activity
            android:name=".game.ui.detail.view.GameDetailActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/GameDetailTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".image.ui.viewer.ImageViewerActivity"/>
    </application>

</manifest>
